<<<<<<< HEAD
$max-width: 1200px;
$gutter: 20px;
=======
@import "scss/player";
>>>>>>> 6827572b5204a2a104c60c904c4cf20f9f05eb0a

html { /* stylelint-disable-line */
  box-sizing: border-box;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;

  padding: 0;
  margin: 0;
}

html { /* stylelint-disable-line */
  margin: 0 $gutter;

  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 16px;

  line-height: 1.5;

  color: rgb(255, 255, 255);
  background-color: rgb(51, 51, 51);

  @media (min-width: $max-width) {
    margin: 0;
  }
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

<<<<<<< HEAD
main { /* stylelint-disable-line */
  max-width: $max-width;
  margin: 0 auto;
}

@import "scss/player";
@import "scss/cardlist";
@import "scss/card";
=======
h1 { /* stylelint-disable-line */
  text-align: center; }
>>>>>>> 6827572b5204a2a104c60c904c4cf20f9f05eb0a
